body{
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
.group{
    padding: 20px;
}
.biodiv{
    width: 25%;
    height: 100vh;
 opacity: 0.5px;
    background: rgb(117, 108, 108);
}

.bio-pic{
width: 200px;
height: 200px;
    border-radius: 100%;
    margin: 30px;
    margin-left: 50px;

}